Student Information Name:林孮瑋

Student ID:110062665

GitHub ID:JohnnyLin97
_______________________________________________________________________________________________________________________________

### Instructions

1. First: do the **take home** exercises in the [DM2021-Lab1-master Repo](https://github.com/fhcalderon87/DM2021-Lab1-master). You may need to copy some cells from the Lab notebook to this notebook. __This part is worth 20% of your grade.__


2. Second: follow the same process from the [DM2021-Lab1-master Repo](https://github.com/fhcalderon87/DM2021-Lab1-master) on **the new dataset**. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 30% of your grade.__
    - Download the [the new dataset](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The dataset contains a `sentence` and `score` label. Read the specificiations of the dataset for details. 
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 30% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency). Refer to this Sciki-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Comment on the differences.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be habdled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy :'(, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 10% of your grade.__


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/fhcalderon87/DM2021-Lab1-master/blob/main/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb). Make sure to commit and save your changes to your repository __BEFORE the deadline (Nov. 4th 11:59 pm, Thursday)__.

# Part.1 Take Home Exercises

### Exercises 2      
Experiment with other querying techniques using pandas dataframes

In [29]:
"""this cell complete the same task as lab1-master"""

# data preparation
from sklearn.datasets import fetch_20newsgroups
categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']
twenty_train = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)

import pandas as pd
import helpers.data_mining_helpers as dmh


# converting to pandas dataframe and adding columns
df = pd.DataFrame.from_records(dmh.format_rows(twenty_train), columns= ['text'])
df['category'] = twenty_train.target
df['category_name'] = df.category.apply(lambda t: dmh.format_labels(t, twenty_train))

In [38]:
# search category of "sci.med" from index 100 to 150
filt = (df['category_name'] == 'sci.med')
df.loc[100:150][filt]

<ipython-input-38-862502edb84d>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[100:150][filt]

                                                  text  category category_name
103  From: mrb@cbnewsj.cb.att.com (m..bruncati) Sub...         2       sci.med
109  From: nyeda@cnsvax.uwec.edu (David Nye) Subjec...         2       sci.med
111  From: geb@cs.pitt.edu (Gordon Banks) Subject: ...         2       sci.med
115  Subject: "STAR GARTDS" <sp?> Info wanted From:...         2       sci.med
117  From: geb@cs.pitt.edu (Gordon Banks) Subject: ...         2       sci.med
118  From: rogers@calamari.hi.com (Andrew Rogers) S...         2       sci.med
121  From: cash@convex.com (Peter Cash) Subject: Re...         2       sci.med
123  From: david@stat.com (David Dodell) Subject: H...         2       sci.med
126  From: rousseaua@immunex.com Subject: Re: Barbe...         2       sci.med
132  From: kxgst1+@pitt.edu (Kenneth Gilbert) Subje...         2       sci.med
134  From: geb@cs.pitt.edu (Gordon Banks) Subject: ...         2       sci.med
135  From: wcsbeau@alfred.carleton.ca (OPIRG) Subje...         2       sci.med
136  From: jim.zisfein@factory.com (Jim Zisfein)  S...         2       sci.med
139  From: hrubin@pop.stat.purdue.edu (Herman Rubin...         2       sci.med
141  From: geb@cs.pitt.edu (Gordon Banks) Subject: ...         2       sci.med
142  From: lady@uhunix.uhcc.Hawaii.Edu (Lee Lady) S...         2       sci.med
145  From: todamhyp@charles.unlv.edu (Brian M. Huey...         2       sci.med
148  From: lindae@netcom.com Subject: Friend Needs ...         2       sci.med
149  From: 880506s@dragon.acadiau.ca (James R. Skin...         2       sci.med

### Exercises 5
Please check the data and the process below, describe what you observe and why it happened.

In [42]:
"""this cell complete the same task as lab1-master"""

import numpy as np

NA_dict = [{ 'id': 'A', 'missing_example': np.nan },
           { 'id': 'B'                    },
           { 'id': 'C', 'missing_example': 'NaN'  },
           { 'id': 'D', 'missing_example': 'None' },
           { 'id': 'E', 'missing_example':  None  },
           { 'id': 'F', 'missing_example': ''     }]

NA_df = pd.DataFrame(NA_dict, columns = ['id','missing_example'])
NA_df

  id missing_example
0  A             NaN
1  B             NaN
2  C             NaN
3  D            None
4  E            None
5  F

In [43]:
"""this cell complete the same task as lab1-master"""

NA_df['missing_example'].isnull()

0     True
1     True
2    False
3    False
4     True
5    False
Name: missing_example, dtype: bool

In [47]:
# Check type of each inex
for i in range(0,6):
    print(type(NA_df['missing_example'][i]))

<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'NoneType'>
<class 'str'>

Obviously, index 2、3、5 are type 'str', so they're not null.
When numpy reading a number that is not readable or null, numpy would set this field to "nan". It's easy to identify as null, but sometimes may be some error of data type.
Index 1 is empty and index4 is 'None'. It's easy to identify them as null.

### Excercises 6
Notice any changes to the dataframe? What are they? Report every change you noticed as compared to the previous state of dataframe.

In [67]:
df_sample = df.sample(n=1000)
df_sample[0:10]

,text,category,category_name
283,From: tcsteven@iaserv.b1.ingr.com (Todd Steven...,3,soc.religion.christian
598,From: spl@ivem.ucsd.edu (Steve Lamont) Subject...,1,comp.graphics
1519,From: Nanci Ann Miller <nm0w+@andrew.cmu.edu> ...,0,alt.atheism
1744,From: davpa@ida.liu.se (David Partain) Subject...,2,sci.med
1791,From: heath@athena.cs.uga.edu (Terrance Heath)...,3,soc.religion.christian
863,From: dxf12@po.cwru.edu (Douglas Fowler) Subje...,3,soc.religion.christian
94,From: wijkstra@fwi.uva.nl (Marcel Wijkstra (AI...,1,comp.graphics
871,From: cs89mcd@brunel.ac.uk (Michael C Davis) S...,3,soc.religion.christian
478,From: keith@cco.caltech.edu (Keith Allan Schne...,0,alt.atheism
694,From: greg@cs.uct.ac.za (Gregory Torrance) Sub...,1,comp.graphics

In [69]:
for i in range(0,4):
    counter_before = df.apply(lambda x: True if x[1] == i else False , axis=1)
    counter_after = df_sample.apply(lambda x: True if x[1] == i else False , axis=1)
    print("category="+str(i)+"(before): "+str(len(counter_before[counter_before == True].index))+\
          "   |   category="+str(i)+"(after): "+str(len(counter_after[counter_after == True].index)))

category=0(before): 480   |   category=0(after): 201
category=1(before): 584   |   category=1(after): 287
category=2(before): 594   |   category=2(after): 261
category=3(before): 599   |   category=3(after): 251

1.Sampling would randomly pick data, so the order of index would be out of order.  
2.Sampling would pick different data each time.  
3.Each category is picked into nearly the same amount each time